<header
  class="h-[68px] z-10 bg-gray-900 sticky top-0 flex items-center justify-between px-10"
>
  <!-- logo + navigation-->
  <div class="flex gap-5">
    <img width="110" src="/assets/images/pngwing.com.png" alt="netflix-logo" />
    <ul class="flex items-center" *ngFor="let item of navList">
      <li
        class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <!-- user profile | sign out area -->
  <div class="text-white flex items-center gap-4">
    <div class="flex items-center gap-2">
      <a href="/"
        ><span
          >Welcome <strong>{{ user.name }}</strong></span
        ></a
      >
      <img
        width="42"
        @fade
        class="rounded-[50%] hover:transition-all duration-300 ease-[ease-in-out]"
        [src]="user.profileImg"
        alt="profile-img"
      />
    </div>

    &nbsp; | &nbsp;
    <a (click)="signOut()"
      ><span class="hover:text-gray-400 transition-[1s]">Sign Out</span></a
    >
  </div>
</header>
